<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Users server </title>
    </head>
    <body>
        <h1>Registration</h1>
        <form action="/addUser" method="POST">
            <div>
                <label for="firstName">
                    First Name:
                </label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div>
                <label for="lastName">
                    Last Name:
                </label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div>
                <label for="userName">
                    Username:
                </label>
                <input type="text" name="userName" id="userName">
            </div>
            <div>
                <label for="password">
                    Password:
                </label>
                <input type="text" name="password" id="password">
            </div>
            <button type="submit"> 
                Register user
            </button>
            <div class="error">
                <% if( messages.registration ){ %>
                    <%= messages.registration %>
                <% } %>
            </div>
        </form>

        <h1>Login</h1>
        <form action="/login" method="POST">
            <div>
                <label for="loginUserName">
                    User Name:
                </label>
                <input type="text" name="loginUserName" id="loginUserName">
            </div>
            <div>
                <label for="loginPassword">
                    Password:
                </label>
                <input type="text" name="loginPassword" id="loginPassword">
            </div>
            <button type="submit"> 
                Login
            </button>
            <div class="error">
                <% if( messages.login ){ %>
                    <%= messages.login %>
                <% } %>
            </div>
        </form>




    </body>
</html>